@import '../styles/variables';

button {
  color: $color-text;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:focus {
    outline: none;
  }
}

.action-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  font-size: 1.2rem;
  padding: 8px;
  border-radius: 4px;
  width: 40px;

  &:hover {
    opacity: 0.8;
  }
}

.button-success {
  background-color: $color-success;
  margin: 1rem auto;
  display: block;
  max-width: 200px;
  text-align: center;

  &:hover {
    background-color: darken($color-success, 10%);
  }
}

.delete-button {
  background-color: $rojo;

  &:hover {
    background-color: $rojo-oscuro;
  }
}

.details-button {
  background-color: $azul-claro;

  &:hover {
    background-color: $azul-oscuro;
  }
}

.sort-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  font-size: 1rem;

  &:hover {
    color: #afafaf;
  }
}

.edit-button {
  background-color: $naranja;

  &:hover {
    background-color: $naranja;
  }
}
