.error-message {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  padding: 15px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.error-message p {
  margin: 0;
}

/* Estilos específicos para MatSnackBar */
.mat-snack-bar-container.snackbar-success {
  background-color: #4caf50 !important;  /* Verde */
  color: white;
}

.mat-snack-bar-container.snackbar-error {
  background-color: #f44336 !important;  /* Rojo */
  color: white;
}
