$color-primary: #2C3E50;
$color-secondary: #E1F5FE;
$color-text: #FFFFFF;
$color-success: #28a745;
$rojo: #D35D6E;
$rojo-oscuro: #B74453;
$color-danger: #A50034;
$azul-claro: #5dade2;
$azul-oscuro: darken($azul-claro, 10%);