<div class="detalles-pedido">
    <h3>Detalles del Pedido #{{ pedido.id }}</h3>
    <p><strong>Fecha:</strong> {{ pedido.fecha | date:'dd/MM/yyyy HH:mm' }}</p>
    <p><strong>Total:</strong> {{ pedido.precioTotal + '€' }}</p>

    <h4>Productos:</h4>
    <ul>
        <li *ngFor="let producto of pedido.Productos" class="producto-item">
            <span class="producto-nombre">{{ producto.nombre }}</span>
            <span class="producto-precio">{{ producto.precio + '€' }}</span>
            <span class="producto-cantidad">Cantidad: {{ producto.PedidoProducto.cantidad }}</span>
        </li>
    </ul>
</div>