.container {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  display: flex;
  flex-direction: column;  // Asegura que el header y main estén en columna
}

header {
  background-color: #A79277;
  color: #3b3b3b;
  text-align: center;
  padding: 20px 0;
  width: 100%;  // Asegura que el header se extienda por toda la pantalla

  h1 {
    margin: 0;
    font-size: 2rem;
  }
}

main {
  display: flex;
  margin-top: 0;  // Remueve cualquier margen superior
  width: 100%;

  aside {
    width: 20%;
    background-color: #D1BB9E;
    //background-color: #DDD0C8;
    box-shadow: none;  // Remueve la sombra si se desea pegar completamente al borde
    min-height: calc(100vh - 60px);  // Asegura que el aside tenga altura completa menos el header

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        a {
          display: block;
          padding: 10px 20px;
          text-decoration: none;
          color: #444444;
          transition: background-color 0.3s;
          font-size: 20px;

          &:hover {
            background-color: #EAD8C0;
          }
        }
      }
    }
  }

  #content {
    flex-grow: 1;  // Toma el espacio restante en main
    padding: 20px;
    background-color: #EAD8C0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
}

// Responsive adjustments
@media (max-width: 768px) {
  main {
    flex-direction: column;
    
    aside {
      width: 100%;
      min-height: auto;  // Ajusta la altura en pantallas más pequeñas
    }

    #content {
      width: 100%;
    }
  }
}
