form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-top: 10px;
}

input,
textarea,
button {
  margin-top: 5px;
}

textarea {
  resize: vertical;
  /* Permite redimensionar verticalmente */
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 2px solid rgba(255, 0, 0, 0.3);
  /* Borde rojo suave para campos inválidos */
  background-color: rgba(255, 0, 0, 0.05);
  /* Fondo rojo suave */
}

.error-message,
.error div {
  color: red;
  /* Color rojo para los mensajes de error */
}

button {
  margin-top: 10px;
  padding: 10px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Aumentar la altura del campo de descripción */
#descripcion {
  height: 80px;
  /* Puedes ajustar este valor para hacerlo más alto */
}

.error {
  margin-top: 5px;
  font-size: 0.9em;
}
