<div class="solicitudes-pendientes">
    <h2>Solicitudes Pendientes</h2>    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Fecha</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- Mostrar mensaje si no hay pedidos -->
            <tr *ngIf="solicitudes.length === 0">
                <td colspan="3" class="error-message">
                    <p>No se encontraron solicitudes pendientes.</p>
                </td>
            </tr>
            <tr *ngFor="let solicitud of solicitudes">
                <td>{{ solicitud.id }}</td>
                <td>{{ solicitud.fecha | date:'dd/MM/yyyy HH:mm' }}</td>
                <td>
                    <button (click)="verDetallesSolicitud(solicitud.id)" aria-label="Ver detalles del pedido"
                        class="action-button details-button">
                        <i class="fas fa-eye"></i>
                    </button>
                    <button (click)="eliminarSolicitud(solicitud.id)" aria-label="Eliminar pedido"
                        class="action-button delete-button">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Modal de detalles de la solicitud -->
    <div *ngIf="solicitudSeleccionada" class="modal">
        <div class="modal-content">
            <span class="close" (click)="cerrarDetalles()">&times;</span>
            <div class="detalles-pedido">
                <h3>Detalles de la Solicitud #{{ solicitudSeleccionada.id }}</h3>
                <p><strong>Fecha:</strong> {{ solicitudSeleccionada.fecha | date:'dd/MM/yyyy HH:mm' }}</p>

                <h4>Productos:</h4>
                <ul>
                    <li *ngFor="let producto of solicitudSeleccionada.Productos" class="producto-item">
                        <span class="producto-nombre">{{ producto.nombre }}</span>
                        <span class="producto-cantidad">Cantidad: {{ producto.ProductoSolicitud.cantidad }}</span>
                        <!-- Botón para recepción de unidades -->
                        <button (click)="abrirModalRecepcion(producto)" class="action-button details-button">
                            <i class="fas fa-check"></i>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>