@import '../../styles/variables';

.solicitudes-pendientes {
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  h2 {
    color: $color-primary;
    margin-bottom: 15px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;

    thead {
      background: $color-primary;
      color: #fff;

      th {
        padding: 10px;
        text-align: left;
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid #ddd;

        &:nth-child(even) {
          background: #f9f9f9;
        }

        td {
          padding: 10px;
        }
      }
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    .producto-item {
      display: grid;
      grid-template-columns: 2fr 1fr;
      align-items: center;
      padding: 8px 0;
      border-bottom: 1px solid $color-primary;

      .producto-nombre {
        font-weight: bold;
      }
    }
  }

  .eliminar-btn {
    background-color: $color-danger;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: darken($color-danger, 10%);
    }
  }
}

.modal {
  .modal-content {
    h4 {
      margin-top: 32px;
    }

    h3 {
      margin-top: 0;
      color: $color-primary;
    }

    p,
    ul {
      margin: 10px 0;
    }

    ul {
      list-style-type: none;
      padding: 0;

      .producto-item {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        align-items: center;
        justify-content: space-between;
        padding: 8px 0;
        border-bottom: 1px solid $color-primary;

        .producto-nombre {
          font-weight: bold;
        }
      }
    }
  }
}