<header>
    <a routerLink="/">StockGuard</a>
</header>

<div class="layout">
    <nav class="sidebar">
        <ul>
            <li><a routerLink="/productos">Ver Productos</a></li>
            <li><a routerLink="/agregar-producto">Añadir Producto</a></li>
            <li><a (click)="toggleSubmenu()" class="submenu-toggle">Pedidos</a></li>
            <ul [class.open]="isSubmenuOpen" class="submenu" (click)="keepSubmenuOpen($event)">
                <li><a routerLink="/registrar-pedido-entrante">Registrar Pedido Entrante</a></li>
                <li><a routerLink="/historial-pedidos-entrantes">Historial de Pedidos Entrantes</a></li>
                <li><a routerLink="/registrar-pedido-saliente">Registrar Pedido Saliente</a></li>
                <li><a routerLink="/historial-pedidos-salientes">Historial de Pedidos Salientes</a></li>
            </ul>
            <li><a routerLink="/solicitudes-pendientes">Solicitudes pendientes</a></li>
        </ul>
    </nav>

    <main class="content">
        <router-outlet></router-outlet>
    </main>
</div>