@import '@variables';

.historial-pedidos {
  background-color: $color-secondary;
  padding: 20px;
  border-radius: 8px;

  h2 {
    color: $marron;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      border: 1px solid $marron;
      padding: 8px;
    }

    td {
      background-color: #f9f9f9;
      color: $color-primary;
    }

    th {
      background-color: $color-primary;
      text-align: left;
      color: $color-text;
    }
  }

  .modal {
    .modal-content {
      h3 {
        margin-top: 0;
        color: $marron;
      }

      p,
      ul {
        margin: 10px 0;
      }

      ul {
        list-style-type: none;
        padding: 0;

        .producto-item {
          display: grid;
          grid-template-columns: 2fr 1fr 1fr;
          align-items: center;
          justify-content: space-between;
          padding: 8px 0;
          border-bottom: 1px solid $marron;

          .producto-nombre {
            font-weight: bold;
          }

          .producto-precio,
          .producto-cantidad {
            color: $marron;
          }
        }
      }
    }
  }
}
