<div class="historial-pedidos">
    <h2>Historial de Pedidos</h2>
    <table>
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Total</th>
                <th>Detalles</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let pedido of pedidos">
                <td>{{ pedido.fecha | date:'dd/MM/yyyy HH:mm'}}</td>
                <td>{{ pedido.precioTotal + '€' }}</td>
                <td><button (click)="verDetallesPedido(pedido.id)">Ver Detalles</button></td>
            </tr>
        </tbody>
    </table>

    <!-- Modal para mostrar los detalles del pedido -->
    <div *ngIf="pedidoSeleccionado" class="modal">
        <div class="modal-content">
            <span class="close" (click)="cerrarDetalles()">&times;</span>

            <!-- Contenido de los detalles del pedido directamente en el modal -->
            <div class="detalles-pedido">
                <h3>Detalles del Pedido #{{ pedidoSeleccionado.id }}</h3>
                <p><strong>Fecha:</strong> {{ pedidoSeleccionado.fecha | date:'dd/MM/yyyy HH:mm' }}</p>
                <p><strong>Total:</strong> {{ pedidoSeleccionado.precioTotal + '€' }}</p>

                <h4>Productos:</h4>
                <ul>
                    <li *ngFor="let producto of pedidoSeleccionado.Productos" class="producto-item">
                        <span class="producto-nombre">{{ producto.nombre }}</span>
                        <span class="producto-precio">{{ producto.precio + '€' }}</span>
                        <span class="producto-cantidad">Cantidad: {{ producto.PedidoProducto.cantidad }}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>