@import '../../styles/variables';

.historial-pedidos {
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  h2 {
    color: $color-primary;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    th,
    td {
      border: 1px solid $color-primary;
      padding: 8px;
    }

    td {
      background-color: #f9f9f9;
      color: $color-primary;
    }

    th {
      background-color: $color-primary;
      text-align: left;
      color: $color-text;
    }
  }

  .modal {
    .modal-content {
      h3 {
        margin-top: 0;
        color: $color-primary;
      }

      p,
      ul {
        margin: 10px 0;
      }

      ul {
        list-style-type: none;
        padding: 0;

        .producto-item {
          display: grid;
          grid-template-columns: 2fr 1fr 1fr;
          align-items: center;
          justify-content: space-between;
          padding: 8px 0;
          border-bottom: 1px solid $color-primary;

          .producto-nombre {
            font-weight: bold;
          }
        }
      }
    }
  }
}