@import './app/styles/buttons';
@import './app/styles/messages';
@import './app/styles/modal';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

h1,
h2 {
  color: #333;
  margin-bottom: 20px;
}

h3 {
  color: $color-primary;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  text-align: center;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px;
  border: 1px solid #ccc;
}

form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
