@import '@variables';

.search-container {
  margin-bottom: 20px;
  text-align: left;
}

.search-input {
  width: 250px;
  padding: 5px 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

th {
  background-color: $color-primary;
  color: white;
}

td {
  background-color: #f9f9f9;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

.modal {
  .modal-content {
    .modal-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;

      .modal-title {
        font-size: 1.5rem;
        font-weight: bold;
        color: $marron;
      }
    }

    .modal-body {
      .form-group {
        margin-bottom: 15px;

        label {
          display: block;
          color: $marron;
          font-weight: bold;
          margin-bottom: 5px;
        }

        .form-control {
          width: 100%;
          padding: 8px;
          border: 1px solid #ccc;
          border-radius: 4px;
          font-size: 1rem;
          color: $marron;
          background-color: $beige;

          &:focus {
            outline: none;
            border-color: $rojo;
          }
        }

        textarea.form-control {
          resize: vertical;
          min-height: 100px;
        }
      }

      .btn-save {
        background-color: $rojo;
        color: $color-text;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: $rojo;
        }

        &:focus {
          outline: none;
        }
      }
    }
  }
}


textarea {
  resize: vertical;
}

.sort-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  font-size: 1rem;

  &:hover {
    color: #afafaf;
  }
}

.edit-button {
  background-color: #ff9800;
  color: white;

  &:hover {
    background-color: #e68900;
  }
}
