@import '../../styles/variables';

.lista-productos {
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  border: 1px solid $color-primary;
  padding: 12px;
  text-align: left;
}

th {
  background-color: $color-primary;
  color: white;
}

td {
  background-color: #f9f9f9;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

.modal {
  .modal-content {
    .modal-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;

      .modal-title {
        font-size: 1.5rem;
        font-weight: bold;
        color: $color-primary;
      }
    }

    .modal-body {
      .form-group {
        margin-bottom: 15px;

        label {
          display: block;
          color: $color-primary;
          font-weight: bold;
          margin-bottom: 5px;
        }

        .form-control {
          width: 100%;
          padding: 8px;
          border: 1px solid #ccc;
          border-radius: 4px;
          font-size: 1rem;
          color: $color-primary;
          background-color: white;

          &:focus {
            outline: none;
            border-color: $rojo;
          }
        }

        textarea.form-control {
          resize: vertical;
          min-height: 100px;
        }
      }

      .btn-save {
        background-color: $rojo;
        color: $color-text;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: $rojo;
        }

        &:focus {
          outline: none;
        }
      }
    }
  }
}


textarea {
  resize: vertical;
}

.sort-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 5px;
  font-size: 1rem;

  &:hover {
    color: #afafaf;
  }
}

.edit-button {
  background-color: #ff9800;
  color: white;

  &:hover {
    background-color: #e68900;
  }
}
